# Spark Streaming


You integrate Flypipe graphs to Spark streaming.

One way of doing it is using Spark [foreachBatch](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.streaming.DataStreamWriter.foreachBatch.html). Here we create a function `total_sales(batch_df, batch_id)` that receives the bacth dataframe and calls a Flypipe node with provided inputs.

## Cleaning environment

In [1]:
import shutil

spark.sql(
f"""
    CREATE DATABASE IF NOT EXISTS flypipe
    LOCATION '/data/warehouse/flypipe'
"""
)

spark.sql("drop table if exists flypipe.total_sales")
shutil.rmtree("/spark-warehouse/flypipe/total_sales", ignore_errors=True)
shutil.rmtree("/data/tmp/stream/_checkpoints", ignore_errors=True)
shutil.rmtree("/data/tmp/stream/json", ignore_errors=True)

## Adding json files simulating a source

In [2]:
import json
from time import time
import os
import uuid
import random
from pprint import pprint

JSON_LOCATION = "/data/tmp/stream/json"

os.makedirs(JSON_LOCATION, exist_ok=True)

def add_sale(quantity):
    
    for _ in range(quantity):
        sale_id = str(uuid.uuid4())
        out_file = open(f"{JSON_LOCATION}/{sale_id}.json", "w")
        
        data = {
            'sale_id': sale_id,
            'product_id': random.randrange(1, 5, 1),
            'price': random.randrange(100, 1000, 1),
            'quantity': random.randrange(1, 10, 1),
            'sale_datetime': int(time())
        }
        

        json.dump(data, out_file)
        
        print(f"\nAdded {JSON_LOCATION}/{sale_id}.json")
        pprint(data)
             
        
add_sale(5)

Added /data/tmp/stream/json/c1229353-a96a-44db-bb4d-fd10f773369d.json
{'price': 372,
 'product_id': 4,
 'quantity': 1,
 'sale_datetime': 1688541607,
 'sale_id': 'c1229353-a96a-44db-bb4d-fd10f773369d'}

Added /data/tmp/stream/json/2d6fedc6-49cf-4134-830a-abf684d0f018.json
{'price': 747,
 'product_id': 4,
 'quantity': 5,
 'sale_datetime': 1688541607,
 'sale_id': '2d6fedc6-49cf-4134-830a-abf684d0f018'}

Added /data/tmp/stream/json/8da9945c-513e-4215-88fd-6e6c31679153.json
{'price': 505,
 'product_id': 2,
 'quantity': 1,
 'sale_datetime': 1688541607,
 'sale_id': '8da9945c-513e-4215-88fd-6e6c31679153'}

Added /data/tmp/stream/json/2d615cab-0ce3-446a-9f8f-30b4f1aa7983.json
{'price': 528,
 'product_id': 3,
 'quantity': 5,
 'sale_datetime': 1688541607,
 'sale_id': '2d615cab-0ce3-446a-9f8f-30b4f1aa7983'}

Added /data/tmp/stream/json/bca40fc7-f2cf-45a0-875c-647983a687a3.json
{'price': 421,
 'product_id': 3,
 'quantity': 3,
 'sale_datetime': 1688541607,
 'sale_id': 'bca40fc7-f2cf-45a0-875c-647983a687a3'}

## Flypipe graph to process the data

In [3]:
from flypipe import node
from flypipe.schema import Schema, Column
from flypipe.schema.types import Decimal, String
from flypipe.datasource.spark import Spark
import pyspark.sql.functions as F

@node(
    type="pyspark",
    dependencies=[
        Spark("sales")
    ],
    output=Schema(
     Column("product_id", String(), "product identifier"),   
     Column("total_sales", Decimal(18,2), "total sales amount"),
    )
)
def total_sales_node(sales):
    df = sales.groupBy("product_id").agg(F.sum(F.col("price") * F.col("quantity")).alias("total_sales"))
    return df

## Defines a bacth function that wraps the Flypipe graph

In [4]:
from pyspark.sql.types import StructType, ArrayType, StructField, StringType, DecimalType, IntegerType, TimestampType


def total_sales(batch_df, batch_id):
    
    print("Batch dataframe received:")
    display(batch_df)
    
    total_sales_df = (
        total_sales_node
        .run(inputs = {
            Spark("sales"): batch_df
        })
    )
    
    print("===> Saving dataframe calculated with node `total_sales_node` into table `total_sales`")
    
    (
      total_sales_df
      .write
      .format('delta')
      .mode('overwrite')
      .saveAsTable("flypipe.total_sales")
    )
    
    return total_sales_df

## Sets up and start the streaming

In [5]:
# Create Stream
json_schema = StructType([
    StructField("sale_id", StringType(), True),
    StructField("product_id", StringType(), True),
    StructField("price", DecimalType(18,2), True),
    StructField("quantity", IntegerType(), True),
    StructField("sale_datetime", TimestampType(), True),
])


(
  spark
  .readStream
  .json(JSON_LOCATION, schema=json_schema)
  .writeStream
  .trigger(availableNow=True) # <-- Change the trigger as you wish
  .option("checkpointLocation", "/data/tmp/stream/_checkpoints/")
  .foreachBatch(total_sales)
  .start()
)

# Waitting process
from time import sleep

while True:
    try:
        spark.sql("select * from flypipe.total_sales")
        break
    except Exception as e:
        sleep(2)

Batch dataframe received:

+--------------------+----------+------+--------+-------------------+
|             sale_id|product_id| price|quantity|      sale_datetime|
+--------------------+----------+------+--------+-------------------+
|c1229353-a96a-44d...|         4|372.00|       1|2023-07-05 07:20:07|
|2d6fedc6-49cf-413...|         4|747.00|       5|2023-07-05 07:20:07|
|8da9945c-513e-421...|         2|505.00|       1|2023-07-05 07:20:07|
|2d615cab-0ce3-446...|         3|528.00|       5|2023-07-05 07:20:07|
|bca40fc7-f2cf-45a...|         3|421.00|       3|2023-07-05 07:20:07|
+--------------------+----------+------+--------+-------------------+

===> Saving dataframe calculated with node `total_sales_node` into table `total_sales`

## Display results

In [6]:
display(spark.sql("select * from flypipe.total_sales"))

+----------+-----------+
|product_id|total_sales|
+----------+-----------+
|         4|    4107.00|
|         3|    3903.00|
|         2|     505.00|
+----------+-----------+